{
  "openapi": "3.1.0",
  "info": {
    "title": "Geoapify Routing API",
    "version": "1.2.0",
    "description": "Calculate routes for driving, walking, cycling, trucking, and public transit."
  },
  "servers": [
    {
      "url": "https://api.geoapify.com/v1",
      "description": "Default API endpoint."
    },
    {
      "url": "https://api-eu.geoapify.com/v1",
      "description": "EU-focused endpoint. Geoapify service processing uses EU infrastructure."
    }
  ],
  "tags": [
    {
      "name": "Routing"
    }
  ],
  "paths": {
    "/routing": {
      "get": {
        "tags": [
          "Routing"
        ],
        "operationId": "calculateRoute",
        "summary": "Calculate a route between waypoints",
        "description": "Calculates a route through two or more ordered waypoints.\n\n- Provide each waypoint as `latitude,longitude`; separate waypoints with `|`.\n- `waypoints` and `mode` are required. The example uses passenger-car routing (`mode=drive`).\n- The default `geojson` response contains route geometry, distance, travel time, legs, steps, and turn-by-turn instructions.\n- Use `format=json` for a plain JSON result or `format=xml` for XML.\n\n**Example:** `waypoints=43.424923,-123.298537|43.261954,-123.350676|43.120223,-123.398972&mode=drive`",
        "parameters": [
          {
            "name": "waypoints",
            "in": "query",
            "required": true,
            "description": "Ordered route points. Use `latitude,longitude` for each point (latitude from -90 to 90; longitude from -180 to 180) and separate points with `|`. At least two waypoints are required.",
            "schema": {
              "type": "array",
              "minItems": 2,
              "maxItems": 1000,
              "items": {
                "type": "string",
                "pattern": "^-?(?:90(?:\\.0+)?|[0-8]?\\d(?:\\.\\d+)?),-?(?:180(?:\\.0+)?|(?:1[0-7]\\d|[0-9]?\\d)(?:\\.\\d+)?)$",
                "example": "43.424923,-123.298537"
              }
            },
            "style": "pipeDelimited",
            "explode": false,
            "example": [
              "43.424923,-123.298537",
              "43.261954,-123.350676",
              "43.120223,-123.398972"
            ]
          },
          {
            "name": "mode",
            "in": "query",
            "required": true,
            "description": "Travel profile used to calculate speeds, access rules, and road restrictions. `drive` represents a passenger car.",
            "schema": {
              "type": "string",
              "enum": [
                "walk",
                "hike",
                "scooter",
                "motorcycle",
                "drive",
                "light_truck",
                "bicycle",
                "mountain_bike",
                "road_bike",
                "bus",
                "medium_truck",
                "truck",
                "truck_dangerous_goods",
                "heavy_truck",
                "long_truck",
                "transit",
                "approximated_transit"
              ],
              "example": "drive"
            }
          },
          {
            "name": "intermediate_waypoint_mode",
            "in": "query",
            "required": false,
            "description": "Treatment of intermediate waypoints. `stopover` splits the route into independent legs; `through_stop` splits it into legs while preserving travel direction; `pass_through` treats it as a via point without creating a new leg.",
            "schema": {
              "type": "string",
              "enum": [
                "stopover",
                "through_stop",
                "pass_through"
              ],
              "default": "stopover"
            }
          },
          {
            "name": "optimize_stops",
            "in": "query",
            "required": false,
            "description": "Whether to optimize the order of intermediate waypoints. The first and last waypoints remain fixed.",
            "schema": {
              "type": "boolean",
              "default": false,
              "example": true
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Route preference. `balanced` balances time and distance; `short` prioritizes distance; `less_maneuvers` penalizes turns and is supported only for motorized road modes.",
            "schema": {
              "type": "string",
              "enum": [
                "balanced",
                "short",
                "less_maneuvers"
              ],
              "default": "balanced"
            }
          },
          {
            "name": "units",
            "in": "query",
            "required": false,
            "description": "Unit system for distances in the response. `metric` returns meters; `imperial` returns miles.",
            "schema": {
              "type": "string",
              "enum": [
                "metric",
                "imperial"
              ],
              "default": "metric"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language code for human-readable turn-by-turn instructions.",
            "schema": {
              "type": "string",
              "enum": [
                "bg",
                "ca",
                "cs",
                "da",
                "de",
                "el",
                "en-GB",
                "en",
                "es",
                "et",
                "fi",
                "fr",
                "hi",
                "hu",
                "it",
                "ja",
                "nb-NO",
                "nl",
                "pl",
                "pt-BR",
                "pt",
                "ro",
                "ru",
                "sk",
                "sl",
                "sv",
                "tr",
                "uk"
              ],
              "example": "en"
            }
          },
          {
            "name": "avoid",
            "in": "query",
            "required": false,
            "description": "Road features, locations, polygons, or countries to avoid. Separate multiple rules with `|`. An optional importance from 0 to 1 can follow road-feature rules, for example `tolls:0.8`.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "pattern": "^(tolls|ferries|highways|green_zones|transfers|location|polygon|country_codes)(:.*)?$",
                "example": "tolls:1"
              }
            },
            "style": "pipeDelimited",
            "explode": false,
            "example": [
              "tolls:1",
              "ferries"
            ]
          },
          {
            "name": "details",
            "in": "query",
            "required": false,
            "description": "Additional result data. `instruction_details` adds maneuver metadata; `route_details` adds road attributes; `elevation` adds the elevation profile. `route_details` and `elevation` increase API credit cost and are unavailable for transit modes.",
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "instruction_details",
                  "route_details",
                  "elevation"
                ],
                "example": "instruction_details"
              }
            },
            "style": "form",
            "explode": false,
            "example": [
              "instruction_details"
            ]
          },
          {
            "name": "traffic",
            "in": "query",
            "required": false,
            "description": "Traffic model for motorized modes. `free_flow` assumes uncongested roads; `approximated` reduces speeds on roads likely to be congested.",
            "schema": {
              "type": "string",
              "enum": [
                "free_flow",
                "approximated"
              ],
              "default": "free_flow"
            }
          },
          {
            "name": "max_speed",
            "in": "query",
            "required": false,
            "description": "Maximum speed for driving, truck, and bus modes. Use 10–252 km/h with `units=metric`, or 6.5–155 mph with `units=imperial`.",
            "schema": {
              "type": "number",
              "minimum": 6.5,
              "maximum": 252,
              "example": 80
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response representation. `geojson` returns a GeoJSON FeatureCollection; `json` returns route objects with `{lon, lat}` geometry points; `xml` returns the JSON structure serialized as XML.",
            "schema": {
              "type": "string",
              "enum": [
                "geojson",
                "json",
                "xml"
              ],
              "default": "geojson",
              "example": "geojson"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Calculated route with geometry, distance, travel time, legs, steps, and navigation instructions.",
            "content": {
              "application/geo+json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutingFeatureCollection"
                },
                "examples": {
                  "drive": {
                    "$ref": "#/components/examples/RoutingDriveGeoJson"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RoutingFeatureCollection"
                    },
                    {
                      "$ref": "#/components/schemas/RoutingJsonResponse"
                    }
                  ]
                },
                "examples": {
                  "defaultGeoJson": {
                    "$ref": "#/components/examples/RoutingDriveGeoJson"
                  },
                  "json": {
                    "$ref": "#/components/examples/RoutingDriveJson"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string",
                  "minLength": 1
                }
              }
            }
          },
          "400": {
            "description": "Invalid routing parameters or a distance between consecutive waypoints that exceeds the limit for the selected travel mode.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                },
                "examples": {
                  "missingWaypoints": {
                    "summary": "Missing required waypoints",
                    "value": {
                      "statusCode": 400,
                      "error": "Bad Request",
                      "message": "\"waypoints\" is required"
                    }
                  },
                  "routeTooLong": {
                    "summary": "Distance exceeds the travel-mode limit",
                    "description": "Regular API calls allow up to 100 km per consecutive waypoint pair for `walk` and `hike`; asynchronous batch calls allow up to 200 km.",
                    "value": {
                      "statusCode": 400,
                      "error": "Bad Request",
                      "message": "Too long distance between locations. Distance should not exceed 100000 meters for a regular API call, and 200000 meters for an asynchronous batch API call. Estimated distance is 250000 meter(s)."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Geoapify API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                },
                "example": {
                  "statusCode": 401,
                  "error": "Unauthorized",
                  "message": "Invalid apiKey"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                },
                "example": {
                  "statusCode": 429,
                  "error": "Too Many Requests",
                  "message": "Quota exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal gateway error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                },
                "example": {
                  "statusCode": 500,
                  "error": "Internal Server Error",
                  "message": "Request failed, please try again later"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LongitudeLatitude": {
        "type": "array",
        "minItems": 2,
        "maxItems": 2,
        "prefixItems": [
          {
            "type": "number",
            "minimum": -180,
            "maximum": 180
          },
          {
            "type": "number",
            "minimum": -90,
            "maximum": 90
          }
        ],
        "items": false
      },
      "JsonValue": {
        "oneOf": [
          {
            "type": "string"
          },
          {
            "type": "number"
          },
          {
            "type": "boolean"
          },
          {
            "type": "null"
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonValue"
            }
          },
          {
            "$ref": "#/components/schemas/JsonObject"
          }
        ]
      },
      "JsonObject": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/JsonValue"
        }
      },
      "LocationData": {
        "type": "object",
        "required": [
          "lat",
          "lon"
        ],
        "properties": {
          "lat": {
            "type": "number",
            "minimum": -90,
            "maximum": 90
          },
          "lon": {
            "type": "number",
            "minimum": -180,
            "maximum": 180
          },
          "address": {
            "type": "string"
          }
        }
      },
      "Avoid": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "tolls",
              "ferries",
              "highways",
              "locations",
              "polygons",
              "green_zones",
              "country_codes",
              "transfers"
            ]
          },
          "importance": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "values": {
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/LocationData"
                }
              },
              {
                "type": "array",
                "items": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocationData"
                  }
                }
              }
            ]
          }
        }
      },
      "MultiLineStringGeometry": {
        "type": "object",
        "required": [
          "type",
          "coordinates"
        ],
        "properties": {
          "type": {
            "const": "MultiLineString"
          },
          "coordinates": {
            "type": "array",
            "items": {
              "type": "array",
              "minItems": 2,
              "items": {
                "$ref": "#/components/schemas/LongitudeLatitude"
              }
            }
          }
        }
      },
      "PolygonGeometry": {
        "type": "object",
        "required": [
          "type",
          "coordinates"
        ],
        "properties": {
          "type": {
            "const": "Polygon"
          },
          "coordinates": {
            "type": "array",
            "items": {
              "type": "array",
              "minItems": 4,
              "items": {
                "$ref": "#/components/schemas/LongitudeLatitude"
              }
            }
          }
        }
      },
      "MultiPolygonGeometry": {
        "type": "object",
        "required": [
          "type",
          "coordinates"
        ],
        "properties": {
          "type": {
            "const": "MultiPolygon"
          },
          "coordinates": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "array",
                "minItems": 4,
                "items": {
                  "$ref": "#/components/schemas/LongitudeLatitude"
                }
              }
            }
          }
        }
      },
      "IsolineGeometry": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/PolygonGeometry"
          },
          {
            "$ref": "#/components/schemas/MultiPolygonGeometry"
          }
        ]
      },
      "RouteInstruction": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "transition_instruction": {
            "type": "string"
          },
          "pre_transition_instruction": {
            "type": "string"
          },
          "post_transition_instruction": {
            "type": "string"
          },
          "contains_next_instruction": {
            "type": "boolean"
          },
          "streets": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "exit_number": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "exit_road_name": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "exit_towards": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "roundabout_exit": {
            "type": "number"
          }
        }
      },
      "RouteStep": {
        "type": "object",
        "required": [
          "from_index",
          "to_index",
          "time",
          "distance"
        ],
        "properties": {
          "from_index": {
            "type": "integer"
          },
          "to_index": {
            "type": "integer"
          },
          "time": {
            "type": "number"
          },
          "distance": {
            "type": "number"
          },
          "instruction": {
            "$ref": "#/components/schemas/RouteInstruction"
          },
          "toll": {
            "type": "boolean"
          },
          "ferry": {
            "type": "boolean"
          },
          "bridge": {
            "type": "boolean"
          },
          "tunnel": {
            "type": "boolean"
          },
          "elevation": {
            "type": "number"
          },
          "elevation_gain": {
            "type": "number"
          },
          "max_elevation": {
            "type": "number"
          },
          "min_elevation": {
            "type": "number"
          },
          "admin_area": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "speed": {
            "type": "number"
          },
          "speed_limit": {
            "type": "number"
          },
          "truck_limit": {
            "type": "number"
          },
          "surface": {
            "type": "string"
          },
          "lane_count": {
            "type": "number"
          },
          "road_class": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "roundabout": {
            "type": "boolean"
          },
          "rightside": {
            "type": "boolean"
          },
          "traversability": {
            "type": "string"
          },
          "from_stop_id": {
            "type": "string"
          },
          "from_stop_name": {
            "type": "string"
          },
          "to_stop_id": {
            "type": "string"
          },
          "to_stop_name": {
            "type": "string"
          }
        }
      },
      "RouteLeg": {
        "type": "object",
        "required": [
          "time",
          "distance",
          "steps"
        ],
        "properties": {
          "time": {
            "type": "number"
          },
          "distance": {
            "type": "number"
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RouteStep"
            }
          },
          "country_code": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "elevation": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "elevation_range": {
            "type": "array",
            "items": {
              "type": "array",
              "minItems": 2,
              "maxItems": 2,
              "prefixItems": [
                {
                  "type": "number"
                },
                {
                  "type": "number"
                }
              ],
              "items": false
            }
          },
          "agency_name": {
            "type": "string"
          },
          "agency_id": {
            "type": "string"
          },
          "agency_url": {
            "type": "string"
          },
          "route_id": {
            "type": "string"
          },
          "route_short_name": {
            "type": "string"
          },
          "route_long_name": {
            "type": "string"
          },
          "trip_id": {
            "type": "string"
          }
        }
      },
      "SnappedRouteWaypoint": {
        "type": "object",
        "required": [
          "location"
        ],
        "properties": {
          "original_index": {
            "type": "integer"
          },
          "location": {
            "$ref": "#/components/schemas/LongitudeLatitude"
          }
        }
      },
      "InputRouteWaypoint": {
        "type": "object",
        "required": [
          "lat",
          "lon"
        ],
        "properties": {
          "lat": {
            "type": "number",
            "minimum": -90,
            "maximum": 90
          },
          "lon": {
            "type": "number",
            "minimum": -180,
            "maximum": 180
          },
          "address": {
            "type": "string"
          }
        }
      },
      "RouteWaypoint": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SnappedRouteWaypoint"
          },
          {
            "$ref": "#/components/schemas/InputRouteWaypoint"
          }
        ]
      },
      "RoutingResponseOptions": {
        "type": "object",
        "required": [
          "mode",
          "units",
          "waypoints"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "walk",
              "hike",
              "scooter",
              "motorcycle",
              "drive",
              "light_truck",
              "bicycle",
              "mountain_bike",
              "road_bike",
              "bus",
              "medium_truck",
              "truck",
              "truck_dangerous_goods",
              "heavy_truck",
              "long_truck",
              "transit",
              "approximated_transit"
            ]
          },
          "units": {
            "type": "string",
            "enum": [
              "metric",
              "imperial"
            ]
          },
          "waypoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RouteWaypoint"
            }
          },
          "avoid": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Avoid"
            }
          },
          "details": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "instruction_details",
                "route_details",
                "elevation",
                "admin_areas"
              ]
            }
          },
          "traffic": {
            "type": "string",
            "enum": [
              "free_flow",
              "approximated"
            ]
          },
          "intermediate_waypoint_mode": {
            "type": "string",
            "enum": [
              "stopover",
              "through_stop",
              "pass_through"
            ]
          }
        }
      },
      "RouteAdminArea": {
        "type": "object",
        "required": [
          "country_code"
        ],
        "properties": {
          "country_code": {
            "type": "string"
          },
          "country_text": {
            "type": "string"
          },
          "state_code": {
            "type": "string"
          },
          "state_text": {
            "type": "string"
          }
        }
      },
      "RouteAdminAreaCrossing": {
        "type": "object",
        "required": [
          "from_admin_index",
          "to_admin_index",
          "begin_shape_index",
          "end_shape_index"
        ],
        "properties": {
          "from_admin_index": {
            "type": "integer"
          },
          "to_admin_index": {
            "type": "integer"
          },
          "begin_shape_index": {
            "type": "integer"
          },
          "end_shape_index": {
            "type": "integer"
          }
        }
      },
      "RoutingFeatureProperties": {
        "type": "object",
        "required": [
          "mode",
          "units",
          "waypoints",
          "distance",
          "time",
          "legs"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "walk",
              "hike",
              "scooter",
              "motorcycle",
              "drive",
              "light_truck",
              "bicycle",
              "mountain_bike",
              "road_bike",
              "bus",
              "medium_truck",
              "truck",
              "truck_dangerous_goods",
              "heavy_truck",
              "long_truck",
              "transit",
              "approximated_transit"
            ]
          },
          "units": {
            "type": "string",
            "enum": [
              "metric",
              "imperial"
            ]
          },
          "waypoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RouteWaypoint"
            }
          },
          "avoid": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Avoid"
            }
          },
          "details": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "instruction_details",
                "route_details",
                "elevation",
                "admin_areas"
              ]
            }
          },
          "traffic": {
            "type": "string",
            "enum": [
              "free_flow",
              "approximated"
            ]
          },
          "intermediate_waypoint_mode": {
            "type": "string",
            "enum": [
              "stopover",
              "through_stop",
              "pass_through"
            ]
          },
          "distance": {
            "type": "number"
          },
          "time": {
            "type": "number"
          },
          "distance_units": {
            "type": "string",
            "enum": [
              "meters",
              "miles"
            ]
          },
          "max_speed": {
            "type": "number"
          },
          "legs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RouteLeg"
            }
          },
          "country_code": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "admin_areas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RouteAdminArea"
            }
          },
          "admin_area_crossings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RouteAdminAreaCrossing"
            }
          },
          "toll": {
            "type": "boolean"
          },
          "ferry": {
            "type": "boolean"
          }
        }
      },
      "RoutingFeature": {
        "type": "object",
        "required": [
          "type",
          "geometry",
          "properties"
        ],
        "properties": {
          "type": {
            "const": "Feature"
          },
          "geometry": {
            "$ref": "#/components/schemas/MultiLineStringGeometry"
          },
          "properties": {
            "$ref": "#/components/schemas/RoutingFeatureProperties"
          },
          "id": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ]
          },
          "bbox": {
            "type": "array",
            "minItems": 4,
            "maxItems": 6,
            "items": {
              "type": "number"
            }
          }
        }
      },
      "RoutingFeatureCollection": {
        "type": "object",
        "required": [
          "type",
          "features",
          "properties"
        ],
        "properties": {
          "type": {
            "const": "FeatureCollection"
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoutingFeature"
            }
          },
          "bbox": {
            "type": "array",
            "minItems": 4,
            "maxItems": 6,
            "items": {
              "type": "number"
            }
          },
          "properties": {
            "$ref": "#/components/schemas/RoutingResponseOptions"
          }
        }
      },
      "RoutingJsonPoint": {
        "type": "object",
        "required": [
          "lon",
          "lat"
        ],
        "properties": {
          "lon": {
            "type": "number",
            "minimum": -180,
            "maximum": 180
          },
          "lat": {
            "type": "number",
            "minimum": -90,
            "maximum": 90
          }
        }
      },
      "RoutingJsonResult": {
        "type": "object",
        "required": [
          "mode",
          "units",
          "waypoints",
          "distance",
          "time",
          "legs",
          "geometry"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "walk",
              "hike",
              "scooter",
              "motorcycle",
              "drive",
              "light_truck",
              "bicycle",
              "mountain_bike",
              "road_bike",
              "bus",
              "medium_truck",
              "truck",
              "truck_dangerous_goods",
              "heavy_truck",
              "long_truck",
              "transit",
              "approximated_transit"
            ]
          },
          "units": {
            "type": "string",
            "enum": [
              "metric",
              "imperial"
            ]
          },
          "waypoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RouteWaypoint"
            }
          },
          "avoid": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Avoid"
            }
          },
          "details": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "instruction_details",
                "route_details",
                "elevation",
                "admin_areas"
              ]
            }
          },
          "traffic": {
            "type": "string",
            "enum": [
              "free_flow",
              "approximated"
            ]
          },
          "intermediate_waypoint_mode": {
            "type": "string",
            "enum": [
              "stopover",
              "through_stop",
              "pass_through"
            ]
          },
          "distance": {
            "type": "number"
          },
          "time": {
            "type": "number"
          },
          "distance_units": {
            "type": "string",
            "enum": [
              "meters",
              "miles"
            ]
          },
          "max_speed": {
            "type": "number"
          },
          "legs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RouteLeg"
            }
          },
          "country_code": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "admin_areas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RouteAdminArea"
            }
          },
          "admin_area_crossings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RouteAdminAreaCrossing"
            }
          },
          "toll": {
            "type": "boolean"
          },
          "ferry": {
            "type": "boolean"
          },
          "geometry": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RoutingJsonPoint"
              }
            }
          }
        }
      },
      "RoutingJsonResponse": {
        "type": "object",
        "required": [
          "results",
          "properties"
        ],
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoutingJsonResult"
            }
          },
          "properties": {
            "$ref": "#/components/schemas/RoutingResponseOptions"
          },
          "bbox": {
            "type": "array",
            "minItems": 4,
            "maxItems": 6,
            "items": {
              "type": "number"
            }
          }
        }
      },
      "MapMatchingStepAddress": {
        "type": "object",
        "required": [],
        "properties": {
          "street": {
            "type": "string"
          },
          "suburb": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "county": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postcode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          }
        }
      },
      "MapMatchingStepOverlap": {
        "type": "object",
        "required": [
          "osm_way_id",
          "osmtags",
          "intersection_points"
        ],
        "properties": {
          "osm_way_id": {
            "type": "number"
          },
          "osmtags": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "intersection_points": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LongitudeLatitude"
            }
          }
        }
      },
      "MapMatchingStep": {
        "type": "object",
        "required": [
          "from_index",
          "to_index",
          "time",
          "distance",
          "osm_way_id"
        ],
        "properties": {
          "from_index": {
            "type": "integer"
          },
          "to_index": {
            "type": "integer"
          },
          "time": {
            "type": "number"
          },
          "distance": {
            "type": "number"
          },
          "instruction": {
            "$ref": "#/components/schemas/RouteInstruction"
          },
          "toll": {
            "type": "boolean"
          },
          "ferry": {
            "type": "boolean"
          },
          "bridge": {
            "type": "boolean"
          },
          "tunnel": {
            "type": "boolean"
          },
          "elevation": {
            "type": "number"
          },
          "elevation_gain": {
            "type": "number"
          },
          "max_elevation": {
            "type": "number"
          },
          "min_elevation": {
            "type": "number"
          },
          "admin_area": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "speed": {
            "type": "number"
          },
          "speed_limit": {
            "type": "number"
          },
          "truck_limit": {
            "type": "number"
          },
          "surface": {
            "type": "string"
          },
          "lane_count": {
            "type": "number"
          },
          "road_class": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "roundabout": {
            "type": "boolean"
          },
          "rightside": {
            "type": "boolean"
          },
          "traversability": {
            "type": "string"
          },
          "from_stop_id": {
            "type": "string"
          },
          "from_stop_name": {
            "type": "string"
          },
          "to_stop_id": {
            "type": "string"
          },
          "to_stop_name": {
            "type": "string"
          },
          "osm_way_id": {
            "type": "number"
          },
          "address": {
            "$ref": "#/components/schemas/MapMatchingStepAddress"
          },
          "osmtags": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "overlaps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MapMatchingStepOverlap"
            }
          },
          "begin_bearing": {
            "type": "number"
          },
          "end_bearing": {
            "type": "number"
          }
        }
      },
      "MapMatchingLeg": {
        "type": "object",
        "required": [
          "time",
          "distance",
          "steps"
        ],
        "properties": {
          "time": {
            "type": "number"
          },
          "distance": {
            "type": "number"
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MapMatchingStep"
            }
          }
        }
      },
      "MapMatchingWaypoint": {
        "type": "object",
        "required": [
          "original_index",
          "location",
          "original_location",
          "match_type"
        ],
        "properties": {
          "original_index": {
            "type": "integer"
          },
          "location": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/LongitudeLatitude"
              },
              {
                "type": "null"
              }
            ]
          },
          "original_location": {
            "$ref": "#/components/schemas/LongitudeLatitude"
          },
          "match_type": {
            "type": "string",
            "enum": [
              "matched",
              "unmatched",
              "interpolated",
              "merged"
            ]
          },
          "match_distance": {
            "type": [
              "number",
              "null"
            ]
          },
          "leg_index": {
            "type": "integer"
          },
          "step_index": {
            "type": "integer"
          }
        }
      },
      "MapMatchingFeatureProperties": {
        "type": "object",
        "required": [
          "distance",
          "time",
          "legs",
          "mode",
          "waypoints"
        ],
        "properties": {
          "distance": {
            "type": "number"
          },
          "time": {
            "type": "number"
          },
          "legs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MapMatchingLeg"
            }
          },
          "mode": {
            "type": "string",
            "enum": [
              "walk",
              "hike",
              "scooter",
              "motorcycle",
              "drive",
              "light_truck",
              "bicycle",
              "mountain_bike",
              "road_bike",
              "bus",
              "medium_truck",
              "truck",
              "truck_dangerous_goods",
              "heavy_truck",
              "long_truck",
              "transit",
              "approximated_transit"
            ]
          },
          "waypoints": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MapMatchingWaypoint"
                },
                {
                  "type": "null"
                }
              ]
            }
          }
        }
      },
      "MapMatchingFeature": {
        "type": "object",
        "required": [
          "type",
          "geometry",
          "properties"
        ],
        "properties": {
          "type": {
            "const": "Feature"
          },
          "geometry": {
            "$ref": "#/components/schemas/MultiLineStringGeometry"
          },
          "properties": {
            "$ref": "#/components/schemas/MapMatchingFeatureProperties"
          },
          "id": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ]
          },
          "bbox": {
            "type": "array",
            "minItems": 4,
            "maxItems": 6,
            "items": {
              "type": "number"
            }
          }
        }
      },
      "MapMatchingFeatureCollection": {
        "type": "object",
        "required": [
          "type",
          "features"
        ],
        "properties": {
          "type": {
            "const": "FeatureCollection"
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MapMatchingFeature"
            }
          },
          "bbox": {
            "type": "array",
            "minItems": 4,
            "maxItems": 6,
            "items": {
              "type": "number"
            }
          },
          "properties": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/JsonObject"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "RouteMatrixLocation": {
        "type": "object",
        "required": [
          "original_location"
        ],
        "properties": {
          "original_location": {
            "$ref": "#/components/schemas/LongitudeLatitude"
          },
          "location": {
            "$ref": "#/components/schemas/LongitudeLatitude"
          }
        }
      },
      "RouteMatrixCell": {
        "type": "object",
        "required": [
          "distance",
          "time",
          "source_index",
          "target_index"
        ],
        "properties": {
          "distance": {
            "type": [
              "number",
              "null"
            ]
          },
          "time": {
            "type": [
              "number",
              "null"
            ]
          },
          "source_index": {
            "type": "integer"
          },
          "target_index": {
            "type": "integer"
          }
        }
      },
      "RouteMatrixResponse": {
        "type": "object",
        "required": [
          "sources",
          "targets",
          "sources_to_targets",
          "units",
          "distance_units",
          "mode"
        ],
        "properties": {
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RouteMatrixLocation"
            }
          },
          "targets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RouteMatrixLocation"
            }
          },
          "sources_to_targets": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RouteMatrixCell"
              }
            }
          },
          "units": {
            "type": "string",
            "enum": [
              "metric",
              "imperial"
            ]
          },
          "distance_units": {
            "type": "string",
            "enum": [
              "meters",
              "miles"
            ]
          },
          "mode": {
            "type": "string",
            "enum": [
              "walk",
              "hike",
              "scooter",
              "motorcycle",
              "drive",
              "light_truck",
              "bicycle",
              "mountain_bike",
              "road_bike",
              "bus",
              "medium_truck",
              "truck",
              "truck_dangerous_goods",
              "heavy_truck",
              "long_truck",
              "transit",
              "approximated_transit"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "balanced",
              "short",
              "less_maneuvers"
            ]
          },
          "max_speed": {
            "type": "number"
          },
          "avoid": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Avoid"
            }
          },
          "traffic": {
            "type": "string",
            "enum": [
              "free_flow",
              "approximated"
            ]
          }
        }
      },
      "IsolineDetails": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/JsonValue"
        },
        "properties": {
          "population": {
            "type": "object",
            "required": [],
            "properties": {
              "attribution": {
                "type": "string"
              },
              "value": {
                "type": "number"
              }
            }
          }
        }
      },
      "IsolineFeatureProperties": {
        "type": "object",
        "required": [
          "id",
          "lat",
          "lon",
          "mode",
          "type",
          "range"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "lat": {
            "type": "number",
            "minimum": -90,
            "maximum": 90
          },
          "lon": {
            "type": "number",
            "minimum": -180,
            "maximum": 180
          },
          "mode": {
            "type": "string",
            "enum": [
              "walk",
              "hike",
              "scooter",
              "motorcycle",
              "drive",
              "light_truck",
              "bicycle",
              "mountain_bike",
              "road_bike",
              "bus",
              "medium_truck",
              "truck",
              "truck_dangerous_goods",
              "heavy_truck",
              "long_truck",
              "transit",
              "approximated_transit"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "time",
              "distance"
            ]
          },
          "range": {
            "type": "number"
          },
          "details": {
            "$ref": "#/components/schemas/IsolineDetails"
          },
          "route_type": {
            "type": "string",
            "enum": [
              "balanced",
              "short",
              "less_maneuvers"
            ]
          },
          "max_speed": {
            "type": "number"
          },
          "units": {
            "type": "string",
            "enum": [
              "metric",
              "imperial"
            ]
          },
          "traffic": {
            "type": "string",
            "enum": [
              "free_flow",
              "approximated"
            ]
          },
          "avoid": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Avoid"
            }
          }
        }
      },
      "IsolineCollectionProperties": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string"
          }
        }
      },
      "IsolineFeature": {
        "type": "object",
        "required": [
          "type",
          "geometry",
          "properties"
        ],
        "properties": {
          "type": {
            "const": "Feature"
          },
          "geometry": {
            "$ref": "#/components/schemas/IsolineGeometry"
          },
          "properties": {
            "$ref": "#/components/schemas/IsolineFeatureProperties"
          },
          "id": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ]
          },
          "bbox": {
            "type": "array",
            "minItems": 4,
            "maxItems": 6,
            "items": {
              "type": "number"
            }
          }
        }
      },
      "IsolineFeatureCollection": {
        "type": "object",
        "required": [
          "type",
          "features",
          "properties"
        ],
        "properties": {
          "type": {
            "const": "FeatureCollection"
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IsolineFeature"
            }
          },
          "bbox": {
            "type": "array",
            "minItems": 4,
            "maxItems": 6,
            "items": {
              "type": "number"
            }
          },
          "properties": {
            "$ref": "#/components/schemas/IsolineCollectionProperties"
          }
        }
      },
      "RoutePlannerParamLocation": {
        "type": "object",
        "required": [
          "id",
          "location"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "location": {
            "$ref": "#/components/schemas/LongitudeLatitude"
          }
        }
      },
      "RoutePlannerParamStop": {
        "type": "object",
        "required": [
          "location_index",
          "location",
          "duration",
          "time_windows"
        ],
        "properties": {
          "location_index": {
            "type": "integer"
          },
          "location": {
            "$ref": "#/components/schemas/LongitudeLatitude"
          },
          "duration": {
            "type": "number"
          },
          "time_windows": {
            "type": "array",
            "items": {
              "type": "array",
              "minItems": 2,
              "maxItems": 2,
              "prefixItems": [
                {
                  "type": "number"
                },
                {
                  "type": "number"
                }
              ],
              "items": false
            }
          }
        }
      },
      "RoutePlannerParamShipment": {
        "type": "object",
        "required": [
          "id",
          "pickup",
          "delivery",
          "priority",
          "amount",
          "requirements"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "pickup": {
            "$ref": "#/components/schemas/RoutePlannerParamStop"
          },
          "delivery": {
            "$ref": "#/components/schemas/RoutePlannerParamStop"
          },
          "priority": {
            "type": "number"
          },
          "amount": {
            "type": "number"
          },
          "requirements": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "RoutePlannerParamJob": {
        "type": "object",
        "required": [],
        "properties": {
          "id": {
            "type": "string"
          },
          "location_index": {
            "type": "integer"
          },
          "location": {
            "$ref": "#/components/schemas/LongitudeLatitude"
          },
          "priority": {
            "type": "number"
          },
          "duration": {
            "type": "number"
          },
          "time_windows": {
            "type": "array",
            "items": {
              "type": "array",
              "minItems": 2,
              "maxItems": 2,
              "prefixItems": [
                {
                  "type": "number"
                },
                {
                  "type": "number"
                }
              ],
              "items": false
            }
          },
          "delivery_amount": {
            "type": "number"
          },
          "pickup_amount": {
            "type": "number"
          },
          "requirements": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "RoutePlannerParamAgent": {
        "type": "object",
        "required": [],
        "properties": {
          "id": {
            "type": "string"
          },
          "start_location_index": {
            "type": "integer"
          },
          "start_location": {
            "$ref": "#/components/schemas/LongitudeLatitude"
          },
          "end_location_index": {
            "type": "integer"
          },
          "end_location": {
            "$ref": "#/components/schemas/LongitudeLatitude"
          },
          "delivery_capacity": {
            "type": "number"
          },
          "pickup_capacity": {
            "type": "number"
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "time_windows": {
            "type": "array",
            "items": {
              "type": "array",
              "minItems": 2,
              "maxItems": 2,
              "prefixItems": [
                {
                  "type": "number"
                },
                {
                  "type": "number"
                }
              ],
              "items": false
            }
          },
          "breaks": {
            "$ref": "#/components/schemas/JsonValue"
          }
        }
      },
      "RoutePlannerParams": {
        "type": "object",
        "required": [
          "locations",
          "agents",
          "mode"
        ],
        "properties": {
          "locations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoutePlannerParamLocation"
            }
          },
          "agents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoutePlannerParamAgent"
            }
          },
          "jobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoutePlannerParamJob"
            }
          },
          "shipments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoutePlannerParamShipment"
            }
          },
          "mode": {
            "type": "string",
            "enum": [
              "walk",
              "hike",
              "scooter",
              "motorcycle",
              "drive",
              "light_truck",
              "bicycle",
              "mountain_bike",
              "road_bike",
              "bus",
              "medium_truck",
              "truck",
              "truck_dangerous_goods",
              "heavy_truck",
              "long_truck",
              "transit",
              "approximated_transit"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "balanced",
              "short",
              "less_maneuvers"
            ]
          },
          "max_speed": {
            "type": "number"
          },
          "traffic": {
            "type": "string",
            "enum": [
              "free_flow",
              "approximated"
            ]
          },
          "units": {
            "type": "string",
            "enum": [
              "metric",
              "imperial"
            ]
          },
          "avoid": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Avoid"
            }
          }
        }
      },
      "RoutePlannerAction": {
        "type": "object",
        "required": [
          "index",
          "type",
          "start_time",
          "duration"
        ],
        "properties": {
          "index": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "enum": [
              "start",
              "end",
              "job",
              "pickup",
              "delivery",
              "break"
            ]
          },
          "start_time": {
            "type": "number"
          },
          "duration": {
            "type": "number"
          },
          "location_index": {
            "type": "integer"
          },
          "location_id": {
            "type": "string"
          },
          "shipment_id": {
            "type": "string"
          },
          "shipment_index": {
            "type": "integer"
          },
          "job_id": {
            "type": "string"
          },
          "job_index": {
            "type": "integer"
          },
          "waypoint_index": {
            "type": "integer"
          }
        }
      },
      "RoutePlannerWaypoint": {
        "type": "object",
        "required": [
          "original_location",
          "location",
          "start_time",
          "duration",
          "actions"
        ],
        "properties": {
          "next_leg_index": {
            "type": "integer"
          },
          "prev_leg_index": {
            "type": "integer"
          },
          "original_location": {
            "$ref": "#/components/schemas/LongitudeLatitude"
          },
          "location": {
            "$ref": "#/components/schemas/LongitudeLatitude"
          },
          "start_time": {
            "type": "number"
          },
          "duration": {
            "type": "number"
          },
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoutePlannerAction"
            }
          },
          "original_location_index": {
            "type": "integer"
          },
          "original_location_id": {
            "type": "string"
          }
        }
      },
      "RoutePlannerStep": {
        "type": "object",
        "required": [
          "from_index",
          "to_index",
          "time",
          "distance"
        ],
        "properties": {
          "from_index": {
            "type": "integer"
          },
          "to_index": {
            "type": "integer"
          },
          "time": {
            "type": [
              "number",
              "null"
            ]
          },
          "distance": {
            "type": [
              "number",
              "null"
            ]
          }
        }
      },
      "RoutePlannerLeg": {
        "type": "object",
        "required": [
          "time",
          "distance",
          "from_waypoint_index",
          "to_waypoint_index",
          "steps"
        ],
        "properties": {
          "time": {
            "type": [
              "number",
              "null"
            ]
          },
          "distance": {
            "type": [
              "number",
              "null"
            ]
          },
          "from_waypoint_index": {
            "type": "integer"
          },
          "to_waypoint_index": {
            "type": "integer"
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoutePlannerStep"
            }
          }
        }
      },
      "RoutePlannerFeatureProperties": {
        "type": "object",
        "required": [
          "agent_index",
          "time",
          "start_time",
          "end_time",
          "distance",
          "legs",
          "mode",
          "actions",
          "waypoints"
        ],
        "properties": {
          "agent_index": {
            "type": "integer"
          },
          "agent_id": {
            "type": "string"
          },
          "time": {
            "type": "number"
          },
          "start_time": {
            "type": "number"
          },
          "end_time": {
            "type": "number"
          },
          "distance": {
            "type": "number"
          },
          "legs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoutePlannerLeg"
            }
          },
          "mode": {
            "type": "string",
            "enum": [
              "walk",
              "hike",
              "scooter",
              "motorcycle",
              "drive",
              "light_truck",
              "bicycle",
              "mountain_bike",
              "road_bike",
              "bus",
              "medium_truck",
              "truck",
              "truck_dangerous_goods",
              "heavy_truck",
              "long_truck",
              "transit",
              "approximated_transit"
            ]
          },
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoutePlannerAction"
            }
          },
          "waypoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoutePlannerWaypoint"
            }
          }
        }
      },
      "RoutePlannerIssues": {
        "type": "object",
        "required": [],
        "properties": {
          "unassigned_shipments": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "unassigned_agents": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "unassigned_jobs": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "RoutePlannerCollectionProperties": {
        "type": "object",
        "required": [
          "mode",
          "params"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "walk",
              "hike",
              "scooter",
              "motorcycle",
              "drive",
              "light_truck",
              "bicycle",
              "mountain_bike",
              "road_bike",
              "bus",
              "medium_truck",
              "truck",
              "truck_dangerous_goods",
              "heavy_truck",
              "long_truck",
              "transit",
              "approximated_transit"
            ]
          },
          "params": {
            "$ref": "#/components/schemas/RoutePlannerParams"
          },
          "issues": {
            "$ref": "#/components/schemas/RoutePlannerIssues"
          }
        }
      },
      "RoutePlannerFeature": {
        "type": "object",
        "required": [
          "type",
          "geometry",
          "properties"
        ],
        "properties": {
          "type": {
            "const": "Feature"
          },
          "geometry": {
            "$ref": "#/components/schemas/MultiLineStringGeometry"
          },
          "properties": {
            "$ref": "#/components/schemas/RoutePlannerFeatureProperties"
          },
          "id": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ]
          },
          "bbox": {
            "type": "array",
            "minItems": 4,
            "maxItems": 6,
            "items": {
              "type": "number"
            }
          }
        }
      },
      "RoutePlannerFeatureCollection": {
        "type": "object",
        "required": [
          "type",
          "features",
          "properties"
        ],
        "properties": {
          "type": {
            "const": "FeatureCollection"
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoutePlannerFeature"
            }
          },
          "bbox": {
            "type": "array",
            "minItems": 4,
            "maxItems": 6,
            "items": {
              "type": "number"
            }
          },
          "properties": {
            "$ref": "#/components/schemas/RoutePlannerCollectionProperties"
          }
        }
      },
      "RoutePlannerDataError": {
        "type": "object",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "RoutePlannerResponse": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/RoutePlannerFeatureCollection"
          },
          {
            "$ref": "#/components/schemas/RoutePlannerDataError"
          }
        ]
      },
      "GatewayError": {
        "type": "object",
        "required": [
          "statusCode",
          "error",
          "message"
        ],
        "properties": {
          "statusCode": {
            "type": "integer",
            "description": "HTTP status code returned by the API gateway."
          },
          "error": {
            "type": "string",
            "description": "Standard HTTP error name."
          },
          "message": {
            "type": "string",
            "description": "Human-readable explanation of the error."
          }
        }
      }
    },
    "examples": {
      "RoutingDriveGeoJson": {
        "summary": "Default GeoJSON response (`format=geojson`)",
        "value": {
          "features": [
            {
              "type": "Feature",
              "properties": {
                "mode": "drive",
                "waypoints": [
                  {
                    "location": [
                      -123.298537,
                      43.424923
                    ],
                    "original_index": 0
                  },
                  {
                    "location": [
                      -123.350676,
                      43.261954
                    ],
                    "original_index": 1
                  },
                  {
                    "location": [
                      -123.398972,
                      43.120223
                    ],
                    "original_index": 2
                  }
                ],
                "units": "metric",
                "distance": 41763,
                "distance_units": "meters",
                "time": 1943.02,
                "legs": [
                  {
                    "distance": 22199,
                    "time": 1012.419,
                    "steps": [
                      {
                        "from_index": 0,
                        "to_index": 1,
                        "distance": 43,
                        "time": 4.449,
                        "instruction": {
                          "text": "Drive southwest on Northeast Pine Street."
                        }
                      },
                      {
                        "from_index": 1,
                        "to_index": 2,
                        "distance": 165,
                        "time": 22.366,
                        "instruction": {
                          "text": "Turn left onto Northeast 3rd Street."
                        }
                      },
                      {
                        "from_index": 2,
                        "to_index": 6,
                        "distance": 170,
                        "time": 12.037,
                        "instruction": {
                          "text": "Turn right onto Northeast Oak Street."
                        }
                      },
                      {
                        "from_index": 6,
                        "to_index": 15,
                        "distance": 273,
                        "time": 21.836,
                        "instruction": {
                          "text": "Turn left onto North 1st Street/OR 99. Continue on OR 99."
                        }
                      },
                      {
                        "from_index": 15,
                        "to_index": 84,
                        "distance": 3111,
                        "time": 187.775,
                        "instruction": {
                          "text": "Turn right onto Stearns Lane/CR 10A."
                        }
                      },
                      {
                        "from_index": 84,
                        "to_index": 210,
                        "distance": 14326,
                        "time": 501.567,
                        "instruction": {
                          "text": "Turn left to take the I 5 South ramp."
                        }
                      },
                      {
                        "from_index": 210,
                        "to_index": 220,
                        "distance": 484,
                        "time": 24.214,
                        "instruction": {
                          "text": "Take exit 129 onto OR 99 toward Winchester/North Roseburg."
                        }
                      },
                      {
                        "from_index": 220,
                        "to_index": 225,
                        "distance": 304,
                        "time": 21.018,
                        "instruction": {
                          "text": "Turn left onto Del Rio Road/CR 115."
                        }
                      },
                      {
                        "from_index": 225,
                        "to_index": 332,
                        "distance": 3200,
                        "time": 191.179,
                        "instruction": {
                          "text": "Turn right onto Old Highway 99 North/OR 99. Continue on OR 99."
                        }
                      },
                      {
                        "from_index": 332,
                        "to_index": 333,
                        "distance": 97,
                        "time": 17.252,
                        "instruction": {
                          "text": "Turn left onto Kenneth Ford Drive."
                        }
                      },
                      {
                        "from_index": 333,
                        "to_index": 334,
                        "distance": 23,
                        "time": 8.722,
                        "instruction": {
                          "text": "Turn left."
                        }
                      },
                      {
                        "from_index": 334,
                        "to_index": 334,
                        "distance": 0,
                        "time": 0,
                        "instruction": {
                          "text": "Your destination is on the right."
                        }
                      }
                    ]
                  },
                  {
                    "distance": 19564,
                    "time": 930.601,
                    "steps": [
                      {
                        "from_index": 0,
                        "to_index": 1,
                        "distance": 23,
                        "time": 3.447,
                        "instruction": {
                          "text": "Drive south."
                        }
                      },
                      {
                        "from_index": 1,
                        "to_index": 2,
                        "distance": 97,
                        "time": 11.982,
                        "instruction": {
                          "text": "Turn right onto Kenneth Ford Drive."
                        }
                      },
                      {
                        "from_index": 2,
                        "to_index": 28,
                        "distance": 1439,
                        "time": 93.531,
                        "instruction": {
                          "text": "Turn left onto Northeast Stephens Street/OR 99."
                        }
                      },
                      {
                        "from_index": 28,
                        "to_index": 49,
                        "distance": 692,
                        "time": 47.836,
                        "instruction": {
                          "text": "Turn right onto Northwest Edenbower Boulevard."
                        }
                      },
                      {
                        "from_index": 49,
                        "to_index": 219,
                        "distance": 10798,
                        "time": 397.616,
                        "instruction": {
                          "text": "Turn left to take the I 5 South ramp."
                        }
                      },
                      {
                        "from_index": 219,
                        "to_index": 228,
                        "distance": 601,
                        "time": 27.054,
                        "instruction": {
                          "text": "Take exit 119 onto OR 99 South/OR 42 West toward Winston/Coos Bay."
                        }
                      },
                      {
                        "from_index": 228,
                        "to_index": 261,
                        "distance": 3775,
                        "time": 185.382,
                        "instruction": {
                          "text": "Bear right onto Coos Bay-Roseburg Highway/OR 42."
                        }
                      },
                      {
                        "from_index": 261,
                        "to_index": 288,
                        "distance": 476,
                        "time": 40.024,
                        "instruction": {
                          "text": "Turn left onto Pepsi Road."
                        }
                      },
                      {
                        "from_index": 288,
                        "to_index": 333,
                        "distance": 1340,
                        "time": 96.811,
                        "instruction": {
                          "text": "Turn right onto Winston Section Road."
                        }
                      },
                      {
                        "from_index": 333,
                        "to_index": 342,
                        "distance": 277,
                        "time": 20.891,
                        "instruction": {
                          "text": "Turn right to stay on Winston Section Road."
                        }
                      },
                      {
                        "from_index": 342,
                        "to_index": 343,
                        "distance": 44,
                        "time": 6.023,
                        "instruction": {
                          "text": "Turn right onto Southeast Johnson Street."
                        }
                      },
                      {
                        "from_index": 343,
                        "to_index": 343,
                        "distance": 0,
                        "time": 0,
                        "instruction": {
                          "text": "Your destination is on the left."
                        }
                      }
                    ]
                  }
                ]
              },
              "geometry": {
                "type": "MultiLineString",
                "coordinates": [
                  [
                    [
                      -123.298363,
                      43.424678
                    ],
                    [
                      -123.298839,
                      43.4245
                    ],
                    [
                      -123.297914,
                      43.423178
                    ],
                    [
                      -123.29834,
                      43.423007
                    ],
                    [
                      -123.298854,
                      43.422815
                    ],
                    [
                      -123.299319,
                      43.422648
                    ],
                    [
                      -123.299785,
                      43.422472
                    ],
                    [
                      -123.299326,
                      43.4218
                    ],
                    [
                      -123.298889,
                      43.42114
                    ],
                    [
                      -123.29884,
                      43.421035
                    ],
                    [
                      -123.298807,
                      43.420929
                    ],
                    [
                      -123.298808,
                      43.420777
                    ],
                    [
                      -123.298831,
                      43.420625
                    ],
                    [
                      -123.29887,
                      43.42046
                    ],
                    [
                      -123.29892,
                      43.420294
                    ],
                    [
                      -123.298961,
                      43.420188
                    ],
                    [
                      -123.299111,
                      43.42019
                    ],
                    [
                      -123.299282,
                      43.420179
                    ],
                    [
                      -123.30018,
                      43.420051
                    ],
                    [
                      -123.300721,
                      43.419939
                    ],
                    [
                      -123.300915,
                      43.419899
                    ],
                    [
                      -123.301337,
                      43.419748
                    ],
                    [
                      -123.301591,
                      43.419657
                    ],
                    [
                      -123.302047,
                      43.419439
                    ],
                    [
                      -123.302664,
                      43.419112
                    ],
                    [
                      -123.303708,
                      43.418506
                    ],
                    [
                      -123.30403,
                      43.418342
                    ],
                    [
                      -123.304524,
                      43.418182
                    ],
                    [
                      -123.304551,
                      43.418172
                    ],
                    [
                      -123.304748,
                      43.418097
                    ],
                    [
                      -123.304877,
                      43.418044
                    ],
                    [
                      -123.305002,
                      43.417985
                    ],
                    [
                      -123.305183,
                      43.417886
                    ],
                    [
                      -123.305234,
                      43.417859
                    ],
                    [
                      -123.305595,
                      43.417633
                    ],
                    [
                      -123.305784,
                      43.417465
                    ],
                    [
                      -123.306058,
                      43.417226
                    ],
                    [
                      -123.306482,
                      43.416832
                    ],
                    [
                      -123.306683,
                      43.416645
                    ],
                    [
                      -123.306906,
                      43.416497
                    ],
                    [
                      -123.30696,
                      43.416462
                    ],
                    [
                      -123.308118,
                      43.41602
                    ],
                    [
                      -123.308206,
                      43.415987
                    ],
                    [
                      -123.311346,
                      43.414841
                    ],
                    [
                      -123.31368,
                      43.413906
                    ],
                    [
                      -123.315781,
                      43.412548
                    ],
                    [
                      -123.315939,
                      43.412447
                    ],
                    [
                      -123.316406,
                      43.412178
                    ],
                    [
                      -123.316648,
                      43.412053
                    ],
                    [
                      -123.316942,
                      43.411985
                    ],
                    [
                      -123.317432,
                      43.411891
                    ],
                    [
                      -123.317903,
                      43.411867
                    ],
                    [
                      -123.318533,
                      43.411902
                    ],
                    [
                      -123.319079,
                      43.412004
                    ],
                    [
                      -123.319775,
                      43.412203
                    ],
                    [
                      -123.320153,
                      43.412317
                    ],
                    [
                      -123.320738,
                      43.412487
                    ],
                    [
                      -123.321351,
                      43.412616
                    ],
                    [
                      -123.322435,
                      43.412765
                    ],
                    [
                      -123.323482,
                      43.412946
                    ],
                    [
                      -123.324202,
                      43.41306
                    ],
                    [
                      -123.324741,
                      43.41314
                    ],
                    [
                      -123.325043,
                      43.413227
                    ],
                    [
                      -123.325264,
                      43.413332
                    ],
                    [
                      -123.325458,
                      43.413444
                    ],
                    [
                      -123.325631,
                      43.413594
                    ],
                    [
                      -123.32573,
                      43.413753
                    ],
                    [
                      -123.325841,
                      43.413976
                    ],
                    [
                      -123.325916,
                      43.414164
                    ],
                    [
                      -123.325978,
                      43.414291
                    ],
                    [
                      -123.326068,
                      43.414386
                    ],
                    [
                      -123.326166,
                      43.414475
                    ],
                    [
                      -123.326283,
                      43.414547
                    ],
                    [
                      -123.326604,
                      43.414677
                    ],
                    [
                      -123.32685,
                      43.414753
                    ],
                    [
                      -123.327047,
                      43.414789
                    ],
                    [
                      -123.32722,
                      43.414789
                    ],
                    [
                      -123.327368,
                      43.414771
                    ],
                    [
                      -123.327479,
                      43.414744
                    ],
                    [
                      -123.327592,
                      43.414706
                    ],
                    [
                      -123.327799,
                      43.414627
                    ],
                    [
                      -123.328816,
                      43.414184
                    ],
                    [
                      -123.329796,
                      43.41371
                    ],
                    [
                      -123.33009,
                      43.413566
                    ],
                    [
                      -123.331675,
                      43.412792
                    ],
                    [
                      -123.331558,
                      43.412586
                    ],
                    [
                      -123.331484,
                      43.412488
                    ],
                    [
                      -123.331429,
                      43.412403
                    ],
                    [
                      -123.33133,
                      43.412331
                    ],
                    [
                      -123.331195,
                      43.412282
                    ],
                    [
                      -123.331065,
                      43.41226
                    ],
                    [
                      -123.330911,
                      43.412259
                    ],
                    [
                      -123.330726,
                      43.412297
                    ],
                    [
                      -123.330345,
                      43.412398
                    ],
                    [
                      -123.330002,
                      43.412487
                    ],
                    [
                      -123.32949,
                      43.412628
                    ],
                    [
                      -123.328964,
                      43.412792
                    ],
                    [
                      -123.328773,
                      43.412828
                    ],
                    [
                      -123.328656,
                      43.412824
                    ],
                    [
                      -123.32857,
                      43.412797
                    ],
                    [
                      -123.328489,
                      43.412743
                    ],
                    [
                      -123.328434,
                      43.412671
                    ],
                    [
                      -123.328416,
                      43.412568
                    ],
                    [
                      -123.328446,
                      43.41247
                    ],
                    [
                      -123.328662,
                      43.412143
                    ],
                    [
                      -123.329328,
                      43.411155
                    ],
                    [
                      -123.330076,
                      43.410197
                    ],
                    [
                      -123.334454,
                      43.404548
                    ],
                    [
                      -123.334973,
                      43.403877
                    ],
                    [
                      -123.335363,
                      43.403319
                    ],
                    [
                      -123.335587,
                      43.402833
                    ],
                    [
                      -123.335793,
                      43.402322
                    ],
                    [
                      -123.335927,
                      43.401698
                    ],
                    [
                      -123.336127,
                      43.400276
                    ],
                    [
                      -123.336574,
                      43.396753
                    ],
                    [
                      -123.336999,
                      43.393191
                    ],
                    [
                      -123.337287,
                      43.391131
                    ],
                    [
                      -123.337357,
                      43.390421
                    ],
                    [
                      -123.33775,
                      43.387231
                    ],
                    [
                      -123.337853,
                      43.386563
                    ],
                    [
                      -123.337892,
                      43.386102
                    ],
                    [
                      -123.338297,
                      43.38291
                    ],
                    [
                      -123.338371,
                      43.38244
                    ],
                    [
                      -123.338376,
                      43.382111
                    ],
                    [
                      -123.338446,
                      43.381357
                    ],
                    [
                      -123.338429,
                      43.380547
                    ],
                    [
                      -123.338335,
                      43.379802
                    ],
                    [
                      -123.338135,
                      43.378925
                    ],
                    [
                      -123.33792,
                      43.378263
                    ],
                    [
                      -123.337656,
                      43.377617
                    ],
                    [
                      -123.337343,
                      43.376978
                    ],
                    [
                      -123.337015,
                      43.376424
                    ],
                    [
                      -123.336614,
                      43.375843
                    ],
                    [
                      -123.336119,
                      43.375204
                    ],
                    [
                      -123.335022,
                      43.373972
                    ],
                    [
                      -123.334068,
                      43.372932
                    ],
                    [
                      -123.333475,
                      43.372255
                    ],
                    [
                      -123.332975,
                      43.37159
                    ],
                    [
                      -123.332336,
                      43.370728
                    ],
                    [
                      -123.331564,
                      43.369609
                    ],
                    [
                      -123.331133,
                      43.368922
                    ],
                    [
                      -123.330743,
                      43.36824
                    ],
                    [
                      -123.330401,
                      43.367589
                    ],
                    [
                      -123.329706,
                      43.366058
                    ],
                    [
                      -123.329211,
                      43.364856
                    ],
                    [
                      -123.328829,
                      43.363752
                    ],
                    [
                      -123.328622,
                      43.363015
                    ],
                    [
                      -123.328484,
                      43.362392
                    ],
                    [
                      -123.328291,
                      43.36151
                    ],
                    [
                      -123.328131,
                      43.360635
                    ],
                    [
                      -123.327833,
                      43.358732
                    ],
                    [
                      -123.327686,
                      43.357666
                    ],
                    [
                      -123.327526,
                      43.356628
                    ],
                    [
                      -123.327464,
                      43.356087
                    ],
                    [
                      -123.327454,
                      43.355489
                    ],
                    [
                      -123.327484,
                      43.354953
                    ],
                    [
                      -123.327596,
                      43.354342
                    ],
                    [
                      -123.327755,
                      43.353734
                    ],
                    [
                      -123.328074,
                      43.352717
                    ],
                    [
                      -123.328369,
                      43.351684
                    ],
                    [
                      -123.328538,
                      43.351049
                    ],
                    [
                      -123.32864,
                      43.350564
                    ],
                    [
                      -123.328722,
                      43.349815
                    ],
                    [
                      -123.328669,
                      43.348216
                    ],
                    [
                      -123.328662,
                      43.347213
                    ],
                    [
                      -123.32867,
                      43.346523
                    ],
                    [
                      -123.328737,
                      43.346059
                    ],
                    [
                      -123.328883,
                      43.345479
                    ],
                    [
                      -123.329122,
                      43.344911
                    ],
                    [
                      -123.329429,
                      43.344386
                    ],
                    [
                      -123.329904,
                      43.343721
                    ],
                    [
                      -123.331651,
                      43.341534
                    ],
                    [
                      -123.331961,
                      43.341151
                    ],
                    [
                      -123.335532,
                      43.336354
                    ],
                    [
                      -123.337657,
                      43.333478
                    ],
                    [
                      -123.342308,
                      43.327122
                    ],
                    [
                      -123.342681,
                      43.326544
                    ],
                    [
                      -123.343324,
                      43.325521
                    ],
                    [
                      -123.343559,
                      43.325149
                    ],
                    [
                      -123.344388,
                      43.323735
                    ],
                    [
                      -123.344822,
                      43.322843
                    ],
                    [
                      -123.345178,
                      43.322138
                    ],
                    [
                      -123.345577,
                      43.321241
                    ],
                    [
                      -123.345852,
                      43.32053
                    ],
                    [
                      -123.346072,
                      43.319983
                    ],
                    [
                      -123.346342,
                      43.319269
                    ],
                    [
                      -123.346712,
                      43.318254
                    ],
                    [
                      -123.346917,
                      43.317585
                    ],
                    [
                      -123.347066,
                      43.317124
[...]
