---
// src/components/LanguageGrid.astro
// Componente Astro puro

import LanguageCategory from "./LanguageCategory.astro";
import LanguageImage from "./LanguageImage.astro";
---

<div class="w-full justify-between space-y-4">
    <LanguageCategory title="Backend">
        <LanguageImage title="Golang" image="go" />
        <LanguageImage title="Java" image="java" />
        <LanguageImage title="Python" image="py" />
        <LanguageImage title="Django" image="django" />
        <LanguageImage title="Flask" image="flask" />
        <LanguageImage title="FastAPI" image="fastapi" />
        <LanguageImage title="Bash" image="bash" />
    </LanguageCategory>

    <LanguageCategory title="Frontend">
        <LanguageImage title="JavaScript" image="js" />
        <LanguageImage title="TypeScript" image="ts" />
        <LanguageImage title="HTML" image="html" />
        <LanguageImage title="CSS" image="css" />
        <LanguageImage title="HTMX" image="htmx" />
        <LanguageImage title="TailwindCss" image="tailwind" />
        <LanguageImage title="React" image="react" />
        <LanguageImage title="Next.js" image="nextjs" />
        <LanguageImage title="Astro" image="astro" />
        <LanguageImage title="Flutter" image="flutter" />
    </LanguageCategory>

    <LanguageCategory title="Bases de Datos & Cache">
        <LanguageImage title="Sqlite" image="sqlite" />
        <LanguageImage title="Postgres" image="postgres" />
        <LanguageImage title="Redis" image="redis" />
        <LanguageImage title="RabbitMQ" image="rabbitmq" />
    </LanguageCategory>

    <LanguageCategory title="Cloud & Others">
        <LanguageImage title="AWS" image="aws" />
        <LanguageImage title="Cloudflare" image="cloudflare" />
        <LanguageImage title="Linux" image="linux" />
        <LanguageImage title="Postman" image="postman" />
        <LanguageImage title="Docker" image="docker" />
        <LanguageImage title="Nginx" image="nginx" />
        <LanguageImage title="Git" image="git" />
    </LanguageCategory>
</div>
