@import "tailwindcss";

/* Create custom Tailwind variants using class selectors */
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant blue (&:where(.blue, .blue *));
@custom-variant orange (&:where(.orange, .orange *));
@custom-variant green (&:where(.green, .green *));

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );

  --breakpoint-mobile: 330px;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --foreground-rgb: 0, 0, 0;
  --primary-color: #1d4ed8;
  --secondary-color: #ffffff;
  scrollbar-color: #1d4ed8 #101828;
  scrollbar-width: auto;
}

#g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -50px 0 0 0 !important;
  z-index: -999999;
  opacity: 0;
}

p {
  padding-top: 10px;
  padding-bottom: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes show {
  from {
    opacity: 0;
    scale: 10%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}