---
import ContactForm from "../contact/ContactForm";
---

<section
  id="contact"
  class="w-full flex flex-col items-center justify-center pt-8 bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-white"
>
  <div class="w-full flex mb-4 items-center justify-center">
    <ContactForm client:visible />
  </div>
</section>
