---
const heroImage = "/images/gato.svg";
---

<section
    id="hero"
    class="relative flex flex-col items-center justify-center min-h-[90vh] px-4 py-0 bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-white overflow-hidden"
>
    <div
        class="relative z-10 flex flex-col md:flex-row items-center justify-start gap-y-6 md:gap-12 max-w-6xl mx-auto pt-8 md:pt-0"
    >
        <div
            class="flex-shrink-0 w-full h-auto mobile:w-48 mobile:h-48 sm:w-64 sm:h-64 md:w-80 md:h-80 lg:w-96 lg:h-96 overflow-hidden shadow-2xl transform hover:scale-105 transition-transform duration-300"
        >
            <img
                src={heroImage}
                alt="Gato programando en la computadora"
                class="w-full h-full object-cover"
                loading="eager"
                title="¿Por qué hay un gato aquí?"
                fetchpriority="high"
                height="128"
                width="128"
            />
        </div>

        <div class="text-center md:text-left max-w-xl">
            <h1
                class="text-4xl sm:text-5xl lg:text-6xl font-extrabold leading-tight"
            >
                Hola, soy <span class="text-blue-600 dark:text-blue-400"
                    >Christopher Villamarín</span
                >
            </h1>
            <p class="text-xl sm:text-2xl font-light">
                Desarrollador <strong class="font-bold">Full Stack</strong> especializado
                en <strong class="font-bold">Backend</strong>.
            </p>
            <p class="mt-8 text-md sm:text-lg text-gray-700 dark:text-gray-300">
                Construyendo soluciones con Python, Go y mucho más.
            </p>
        </div>
    </div>
    <div class="w-full flex flex-col sm:flex-row justify-center gap-4 mt-8">
        <a
            href="#about-me"
            class="px-8 py-3 bg-blue-600 hover:bg-blue-700 text-white text-center font-semibold rounded-lg shadow-lg transform hover:scale-105 transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
            title="Saber más sobre mí"
        >
            Saber más sobre mí
        </a>
        <a
            href="https://linkedin.com/in/christopher-villamarin"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center justify-center px-8 py-3 border-2 font-semibold rounded-lg shadow-lg transform hover:scale-105 transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-opacity-50"
            aria-label="Mi perfil de LinkedIn"
        >
            <svg
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-6 h-6 mr-2 text-gray-800 dark:text-white"
                ><path
                    d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
                ></path><rect width="4" height="12" x="2" y="9"></rect><circle
                    cx="4"
                    cy="4"
                    r="2"></circle></svg
            >
            Linkedin
        </a>
        <a
            href="https://github.com/xeland314"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center justify-center px-8 py-3 border-2 font-semibold rounded-lg shadow-lg transform hover:scale-105 transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-opacity-50"
            aria-label="Mi perfil de GitHub"
        >
            <svg
                role="img"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6 mr-2"
                fill="currentColor"
                ><title>GitHub</title><path
                    d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
                ></path></svg
            >
            xeland314
        </a>
    </div>
</section>
