---
import ProjectCard from "../../components/projects/ProjectCard.astro";
import { db, Projects, eq } from "astro:db";

// 1. Obtener todos los proyectos de la DB
const allProjects = await db
    .select()
    .from(Projects)
    .where(eq(Projects.isFeatured, true));
// 2. Filtrar los proyectos destacados en JS y limitar a los primeros 6
const featuredProjects = allProjects.slice(0, 6);
---

<section
    id="projects"
    class="2xl:px-20 xl:px-28 lg:px-24 md:px-16 sm:px-12 xs:px-10 px-6 pb-16 pt-24 bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-white place-items-center"
>
    <h2 class="text-4xl font-bold text-center mb-12">
        Mis Proyectos Destacados
    </h2>

    <div
        class="max-w-[2700px] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-6 gap-8"
    >
        {featuredProjects.map((project) => <ProjectCard project={project} />)}
    </div>

    <div class="text-center mt-12">
        <a
            href="/es/projects"
            class="inline-block px-8 py-3 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg shadow-lg transform hover:scale-105 transition-all duration-300"
            title="Ver todos los proyectos"
        >
            Ver Todos los Proyectos
        </a>
    </div>
</section>
