---
import SearchbarWrapper from "../algolia/Search";
import MobileMenuWrapper from "./MobileMenuWrapper";
import LanguageSwitcher from "./LanguageSwitcher";

const currentPath = Astro.url.pathname;
const lang = currentPath.startsWith("/en") ? "en" : "es";
const homeLink = lang === "en" ? "/en" : "/";
---

<header
  class="my-header sticky top-0 z-50 h-auto w-full bg-gray-900 text-white backdrop-blur-sm supports-backdrop-filter:bg-background/60"
  id="main-header"
>
  <nav class="flex justify-between items-center relative p-3">
    <div class="flex items-center justify-between">
      <a href={homeLink} class="text-lg font-bold hover:text-blue-500"> xeland314 </a>
    </div>
    <div class="flex flex-row gap-x-4">
      <SearchbarWrapper client:idle lang={lang} />
      <LanguageSwitcher client:idle />
      <MobileMenuWrapper client:idle lang={lang} />
    </div>
  </nav>
</header>
